div.tables{
margin-top:15px;
}
table.info{
border-collapse: collapse;
border:green solid 2px;
width:95%;
text-align:center;
margin:10px;
}
.cell {
border:1px solid green;
height:25px;
}
.delLine{
border:1px solid green;
height:25px;
width:130px;
text-align:center;
}
table.comp {
border-collapse: collapse;
border:green solid 2px;
width:100%;
text-align:center;
margin:10px;
vertical-align:top;
}
table.maincomp {
width:95%;
}
p.name {
text-align:center;
font-weight:bold;
}
a:hover{
color:#073ed8;
}
span{
color:black;
}

table.edit{
border-collapse: collapse;
border:green solid 2px;
width:30%;
text-align:center;
}
center.tables{
margin-top:20px;
}
tr:hover{
background-color:#7ef27e;
}
input{
background-color:unset;
border:solid 1px green;
color:#1d2b12;}
input:focus{
background-color:unset;
border:solid 1px green;
outline:none;
}
input.edit{
width:100%;}
tr.none:hover{
background-color:white;
}
td.low{
background-color: salmon;
border:solid 1px green;
}

