div.tables{
margin-top:15px;
}
table.info{
background-color:#43880b;
border:0;
width:95%;
text-align:center;
margin:10px;
}
.cell {
background-color:white;
border:none;
height:25px;
}
.delLine{
background-color:white;
border:none;
height:25px;
width:130px;
text-align:center;
}
table.comp {
background-color:#43880b;
width:100%;
text-align:center;
margin:10px;
vertical-align:top;
}
table.maincomp {
width:95%;
}
p.name {
text-align:center;
font-weight:bold;
}
a:hover{
color:#073ed8;
}
span{
color:black;
}
tr.line:hover{
background-color:#43b94a !important;
}
table.edit{
border:0;
}
center.tables{
margin-top:20px;
}
input.edit{
outline:none;
border:0;
text-align:center;
width:100%;
height:100%;
}
input.edit:focus{
outline:none;
border-color:black;
border:1;
}
.border{
border-top:1px solid #c4dcc1;
border-bottom:1px solid #c4dcc1;
border-left:1px solid #c4dcc1;
}