<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="main::head"></head>
<head>
    <meta charset="UTF-8">
    <title th:text="${guide.getTitle()}"></title>
</head>
<body>
<div id="header" th:insert="main::menu"></div>
<div style="padding: 50px 10px 10px 10px;">
    <table width="100%" th:unless="${edit}">
        <tr>
            <td width="50%"  style="vertical-align: initial;">
                <form method="post" th:object="${guide}"
                      th:unless="${edit}">
                    <h3 style="text-align-last: center;">Добавить инструкцию</h3>
                    <table class="iksweb">
                        <tr>
                            <td style="text-align: initial;">Введите заголовок инструкции</td>
                            <input th:field="*{id}" type="hidden">
                            <td colspan="2"><input th:field="*{title}" type="text" style="width:100%;" required MAXLENGTH="40"></td>
                        </tr>
                        <tr>
                            <td style="text-align: initial;">Введите краткое описание инструкции</td>
                            <td colspan="2"><input th:field="*{shortDescription}" type="text" style="width:100%;" required MAXLENGTH="80"></td>
                        </tr>
                        <tr>
                            <td style="text-align: initial;">Пункт меню</td>
                            <td colspan="2">
                                <select name="menu" th:field="*{menu.id}" style="width:100%;">
                                    <option value="0">Выберите роль</option>
                                    <option th:each="menu: ${guideMenus}"
                                            th:value="${menu.id}"
                                            th:text="${menu.name}"></option>
                                </select>
                                <input th:field="*{username}" type="hidden">
                                <input th:field="*{date}" type="hidden">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3"><textarea th:field="*{text}"
                                                      style="width: 100%; resize: none; height: 500px;"
                                                      required></textarea></td>
                        </tr>
                        <tr class="">
                            <td>
                                <button th:formaction="@{/guide/save}" class="confirm" style="padding: 1px 6.5rem;">
                                    Сохранить
                                </button>
                            </td>
                            <td>
                                <button th:formaction="@{/guide/show}" class="confirm" style="padding: 1px 4rem;">
                                    Показать
                                </button>
                            </td>
                            <td>
                                <button th:formaction="@{/}" formmethod="get" class="confirm"
                                        style="padding: 1px 4rem;">Вернуться назад
                                </button>
                            </td>
                        </tr>
                    </table>
                </form>
            </td>
            <td style="text-align:left; vertical-align: initial;"><h3 style="text-align-last: center;">Предпросмотр</h3>
                <table class="guidetable">
                    <th colspan="2" th:text="${currentGuide.title}"></th>
                    <tr>
                        <td style="text-align: initial;">Автор</td>
                        <td th:text="${currentGuide.username}"></td>
                    </tr>
                    <tr>
                        <td style="text-align: initial;">Дата создания</td>
                        <td th:text="${currentGuide.date}"></td>
                        <input th:field="${currentGuide.id}" type="hidden">
                    </tr>
                    <tr>
                        <td style="text-align: initial;">Краткое описание</td>
                        <td th:text="${currentGuide.shortDescription}"></td>
                    </tr>
                    <th colspan="2" class="btmn">Описание</th>
                    <tr>
                        <td colspan="2" th:utext="${currentGuide.text}"
                            style="line-height: initial; text-align: initial;background-color:initial; white-space:initial; color:black;"></td>
                    </tr>
                    <th colspan="2">Отредактирована</th>
                    <tr>
                        <td style="text-align: initial;">Последнее редактирование</td>
                        <td th:text="${currentGuide.lastEditDate}"></td>
                    </tr>
                    <tr>
                        <td style="text-align: initial;">Пользователем</td>
                        <td th:text="${currentGuide.lastEditUsername}"></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    </form>
    <table width="100%" th:if="${edit}">
        <tr>
            <td width="50%" style="vertical-align: initial;">
                <form method="post"
                      th:object="${guide}">
                    <h3 style="text-align-last: center;">Редактировать инструкцию</h3>
                    <table class="iksweb">
                        <tr>
                            <td style="text-align: initial;">Введите заголовок инструкции</td>
                            <input th:field="*{id}" type="hidden">
                            <td colspan="2"><input th:field="*{title}" type="text" style="width:100%;" required MAXLENGTH="40"></td>
                        </tr>
                        <tr>
                            <td style="text-align: initial;">Введите краткое описание инструкции</td>
                            <td colspan="2"><input th:field="*{shortDescription}" type="text" style="width:100%;" required MAXLENGTH="80"></td>
                        </tr>
                        <tr>
                            <td style="text-align: initial;">Пункт меню</td>
                            <td colspan="2">
                                <select name="menu" th:field="*{menu.id}" style="width:100%;">
                                    <option value="0">Выберите роль</option>
                                    <option th:each="menu: ${guideMenus}"
                                            th:value="${menu.id}"
                                            th:text="${menu.name}"></option>
                                </select>
                                <input th:field="*{username}" type="hidden">
                                <input th:field="*{date}" type="hidden">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3"><textarea th:field="*{text}"
                                                      style="width: 100%; resize: none; height: 500px;"
                                                      required></textarea></td>
                        </tr>
                        <tr class="">
                            <td>
                                <button th:formaction="@{/guide/edit}" class="confirm" style="padding: 1px 6.5rem;">
                                    Сохранить
                                </button>
                            </td>
                            <td>
                                <button th:formaction="@{/guide/show}" class="confirm" style="padding: 1px 4rem;">
                                    Показать
                                </button>
                            </td>
                            <td>
                                <button th:formaction="@{/}" formmethod="get" class="confirm"
                                        style="padding: 1px 4rem;">Вернуться назад
                                </button>
                            </td>
                        </tr>
                    </table>
                </form>
            </td>
            <td style="text-align:left; vertical-align: initial;"><h3 style="text-align-last: center;">Предпросмотр</h3>
                <table class="guidetable">
                    <th colspan="2" th:text="${currentGuide.title}" class="guideth"></th>
                    <tr>
                        <td style="text-align: initial;">Автор</td>
                        <td th:text="${currentGuide.username}"></td>
                    </tr>
                    <tr>
                        <td style="text-align: initial;">Дата создания</td>
                        <td th:text="${currentGuide.date}"></td>
                        <input th:field="${currentGuide.id}" type="hidden">
                    </tr>
                    <tr>
                        <td style="text-align: initial;">Краткое описание</td>
                        <td th:text="${currentGuide.shortDescription}"></td>
                    </tr>
                    <th colspan="2">Описание</th>
                    <tr>
                        <td colspan="2" th:utext="${currentGuide.text}"
                            style="line-height: initial; text-align: initial;background-color:initial; white-space:initial; color:black;"></td>
                    </tr>
                    <th colspan="2">Отредактирована</th>
                    <tr>
                        <td style="text-align: initial;">Последнее редактирование</td>
                        <td th:text="${currentGuide.lastEditDate}"></td>
                    </tr>
                    <tr>
                        <td style="text-align: initial;">Пользователем</td>
                        <td th:text="${currentGuide.lastEditUsername}"></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
</body>
</html>