<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="main::head"></head>
<head>
    <meta charset="UTF-8">
    <title th:text="${guide.getTitle()}"></title>
</head>
<body>
<div id="header" th:insert="main::menu"></div>
<center>
    <form method="post" style="width:50%;margin-top:40px;" th:object="${guide}"
          th:unless="${edit}">
        <h1>Добавление инструкции</h1>

        <span>Введите заголовок инструкции</span>
        <input th:field="*{title}" type="text">
        <textarea class="code" th:field="*{text}">
            </textarea>
        <button th:formaction="@{/guide/save}" class="button_success">Сохранить</button>
        <button th:formaction="@{/guide/show}">Показать</button>

    </form>
    <form method="post" style="width:50%;margin-top:40px;" th:if="${edit}"
          th:object="${guide}">
        <h1>Редактирование инструкции</h1>
        <span>Введите заголовок инструкции</span>
        <input th:field="*{id}" type="hidden">
        <input th:field="*{title}" type="text">
        <input th:field="*{username}" type="hidden">
        <input th:field="*{date}" type="hidden">
        <textarea class="code" th:field="*{text}"></textarea>

        <button th:formaction="@{/guide/edit}" class="button_success">Сохранить</button>
        <button th:formaction="@{/guide/show}">Показать</button>
    </form>
    <h1 th:text="${currentGuide.title}"></h1>   <span>Created by <span
        th:text="${currentGuide.username}"></span> at <span
        th:text="${currentGuide.date}"></span></span>
    <input th:field="${currentGuide.id}" type="hidden">

    <span th:if="${currentGuide.lastEditDate}">Last edited by <span
            th:text="${currentGuide.lastEditUsername}"></span> at <span
            th:text="${currentGuide.lastEditDate}"></span></span>
    <div th:utext="${currentGuide.text}"></div>
    <div th:utext="*{text}">
    </div>
</center>
</body>
</html>