<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="main::head"></head>
<body>
<div id="header" th:insert="main::menu"></div>
<section th:fragment="section">
    <div th:fragment="menu">
        <div style="align:center; width:100%;">
            <div>
                <div>
                    <p class="name"
                       th:text="'Сервер: '+${computer.getName()}+' Дата: '+${computer.getDate()}+' Время: '+${computer.getTime()}"></p>
                    <center>
                        <table class="maincomp" id="maintable">
                            <tr>
                                <td style="vertical-align:top">
                                    <table class="comp" id="infodisk" th:if="${not #lists.isEmpty(computer.disks)}">
                                        <tr>
                                            <td class="cell" colspan="4">Информация о дисках</td>
                                        </tr>
                                        <tr>
                                            <td class="cell">Диск</td>
                                            <td class="cell"> Имя</td>
                                            <td class="cell">Размер</td>
                                            <td class="cell">Свободное место</td>
                                        </tr>
                                        <tr th:each="disk : ${computer.disks}">
                                            <div th:if="${disk.getFreeSpaceGb()}>=5">
                                                <td class="cell" th:text="${disk.getLetter()}"
                                                ></td>
                                                <td class="cell" th:text="${disk.getName()}"></td>
                                                <td class="cell" th:text="${disk.getTotalSize()}"></td>
                                                <td class="cell" th:text="${disk.getFreeSpace()}"></td>
                                            </div>
                                            <div th:if="${disk.getFreeSpaceGb()}<=5">
                                                <td bgcolor="salmon"
                                                    th:text="${disk.getLetter()}"></td>
                                                <td bgcolor="salmon"
                                                    th:text="${disk.getName()}"></td>
                                                <td bgcolor="salmon"
                                                    th:text="${disk.getTotalSize()}"></td>
                                                <td bgcolor="salmon"
                                                    th:text="${disk.getFreeSpace()}"></td>
                                            </div>
                                        </tr>
                                    </table>
                                </td>
                                <td style="vertical-align:top">
                                    <table class="comp" id="lastfile">
                                        <tr>
                                            <td class="tdm cell" colspan="4">Последние файлы</td>
                                        </tr>
                                        <tr>
                                            <td class="cell">Путь файла</td>
                                            <td class="cell">Имя файла</td>
                                            <td class="cell">Размер</td>
                                            <td class="cell">Дата</td>

                                        <tr>
                                        <tr th:each="backup : ${computer.backups}"
                                            th:if="${not #lists.isEmpty(computer.backups)}">
                                            <td class="cell" th:text="${backup.getPath()}"></td>
                                            <td bgcolor="salmon" class="cell" colspan="3"
                                                th:unless="${not #lists.isEmpty(backup.files)}">
                                                Нет данных
                                            </td>
                                            <td class="cell" th:text="${backup.files[0].name}"></td>
                                            <td class="cell" th:text="${backup.files[0].size}"></td>
                                            <td class="cell" th:text="${backup.files[0].lastDate}"></td>
                                        </tr>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <p class="name">Информация о файлах</p>
                                    <table class="comp" id="infofile" th:each="backup : ${computer.backups}">
                                        <tr>
                                            <td align="center" class="cell" colspan="3"
                                                th:text="${backup.getPath()}"></td>
                                        </tr>
                                        <tr>
                                            <td class="cell">Имя файла</td>
                                            <td class="cell"> Размер</td>
                                            <td class="cell">Дата</td>
                                        <tr>
                                        <tr th:each="file: ${backup.files}">
                                            <td class="cell" th:text="${file.name}"></td>
                                            <td class="cell" th:text="${file.size}"></td>
                                            <td class="cell" th:text="${file.lastDate}"></td>
                                        </tr>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </center>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>