<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="main::head"></head>
<body>
<div th:replace="main::menu"></div>

<div style="padding: 40px 10px 10px 10px;">
    <br>

    <table class="iksweb" th:if="${#httpServletRequest.getQueryString() == 'show=all'}"
    <tr>
        <th colspan="5">Тестовая область, возможны осадки в виде багов</th>
    </tr>
    <tr>
        <th>Имя компьютера</th>
        <th>Процессор</th>
        <th>Материнская плата</th>
        <th>Обьем памяти</th>
        <th>Действия</th>
    </tr>

    <tr th:each="pc:${pcs}">
        <td th:text="${pc.name}"></td>
        <td th:text="${pc.getCpuInfo()}"></td>
        <td th:text="${pc.motherboard}"></td>
        <td th:text="${pc.getSummaryMemory()}"></td>
        <td><a th:href="@{/pc(show=${pc.name})}">Подробная информация</a></td>
    </tr>
    </table>

    <table class="iksweb" th:object="${pc}" th:if="${pc}">
        <tr>
            <th>Имя компьютера:</th>
            <td colspan="3" th:text="${pc.name}"></td>
        </tr>

        <tr>
            <th colspan="4">Операционная система:</th>
        </tr>

        <tr>
            <th>OS</th>
            <th>Версия</th>
            <th>Архитектура</th>
            <th>Время загрузки</th>
        </tr>

        <tr>
            <td th:text="${pc.os.caption}"></td>
            <td th:text="${pc.os.version}"></td>
            <td th:text="${pc.os.architecture}"></td>
            <td th:text="${pc.os.lastBootTime}"></td>
        </tr>

        <tr>
            <th colspan="2">Материнская плата:</th>

        </tr>

        <tr>
            <td>Наименование</td>
            <td th:text="${pc.motherboard}"></td>
        </tr>

        <tr>
            <th colspan="2">Процессоры:</th>
        </tr>

        <tr th:each="cpu,index:${pc.cpu}">
            <td th:text="'Процессор '+${index.index}"></td>
            <td th:text="${cpu.name}"></td>
        </tr>

        <tr>
            <th colspan="2">Диски:
            </td>
        </tr>

        <tbody th:each="disk,index:${pc.disks}">
        <tr>
            <th colspan="2" th:text="'Диск №'+${index.index}"></th>
        </tr>

        <tr>
            <td>Модель</td>
            <td th:text="${disk.model}"></td>
        </tr>

        <tr>
            <td>Серийный номер</td>
            <td th:text="${disk.serialNumber}"></td>
        </tr>

        <tr>
            <td>Размер</td>
            <td th:text="${disk.size}+' Gb'"></td>
        </tr>

        <tr>
            <td>Статус</td>
            <td th:text="${disk.status}"></td>
        </tr>
        </tbody>

        <tr>
            <th colspan="2">Оперативная память:</th>
        </tr>

        <tbody th:each="mem,index :${pc.memory}">
        <tr>
            <th colspan="2" th:text="'Планка №'+${index.index}"></th>
        </tr>

        <tr>
            <td>Размер</td>
            <td th:text="${mem.capacity}+' Gb'"></td>
        </tr>

        <tr>
            <td>Частота</td>
            <td th:text="${mem.speed}+' MHz'"></td>
        </tr>

        <tr>
            <td>Серийный номер</td>
            <td th:text="${mem.serialNumber}"></td>
        </tr>

        <tr>
            <td>Слот</td>
            <td th:text="${mem.location}"></td>
        </tr>

        <tr>
            <td>Производитель</td>
            <td th:text="${mem.manufacturer}"></td>
        </tr>

        <tr>
            <td>Part Number</td>
            <td th:text="${mem.partNumber}"></td>
        </tr>
        </tbody>

        <tbody th:each="net,index:${pc.networks}">
        <tr>
            <th colspan="2">Информация о сетевых устройствах</th>
        </tr>
        <tr>
            <td colspan="2" th:text="'Сетевое устройство '+${index.index}"></td>
        </tr>
        <tr>
            <td>Название</td>
            <td th:text="${net.description}"></td>
        </tr>
        <tr>
            <td>ip адреса</td>
            <td><a th:each="ip:${net.getIpAddresses()}" th:text="${ip}"></a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>