<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="main::head"></head>
<head>
    <meta charset="UTF-8">
    <title>Инструкции</title>
</head>
<div id="header" th:insert="main::menu"></div>
<div style="padding: 60px 10px 10px 170px;">
    <div class="sidenav">
        <table class="sideweb" style="background-color: initial; text-align: initial;">
            <tr th:if="${mode==false}">
                <th>Выберите тему:</th>
            </tr>
            <tr th:if="${#lists.isEmpty(guideMenu)}">
                <th th:if="${mode==false}"><a th:href="@{/guideMenu/new}" style="font-size: initial">Добавить тему</a>
                </th>
            </tr>
            <tr th:if="${mode==true}">
                <th><a th:href="@{/guideMenu/new}" style="font-size: initial">Добавить тему</a></th>
            </tr>
            <tbody>
            <tr th:each="menu:${guideMenu}">
                <td th:if="${mode==false}"><a th:href="@{/guideMenu(id=${menu.id})}" th:text="${menu.getName()}"></a>
                </td>
                <td th:if="${mode==true}"><a th:href="@{/guideMenu/edit(id=${menu.id})}"
                                             th:text="${menu.getName()}"></a></td>
            </tr>
            </tbody>
        </table>
    </div>

    <center>
        <span th:if="${error}">Невозможно удалить, посколько меню содержит инструкции</span>
        <!--Список гайдов относящихся к меню в таблице-->
        <table class="iksweb" th:if="${currentMenu}">
            <tbody>
            <!-- ↑Сюда прописать условие не отображать пока не выбрано ничего-->
            <tr th:unless="${mode==true}">
                <th colspan="7" th:if="${currentMenu}" th:text="${currentMenu.getName()}"></th>
            </tr>
            <tr th:if="${mode==true}">
                <th colspan="9" th:if="${currentMenu}" th:text="${currentMenu.getName()}"></th>
            </tr>
            </tbody>
            <tbody class="btnm">
            <tr>
                <th>Название</th>
                <th>Краткое описание</th>
                <th>Дата создания</th>
                <th>Пользователем</th>
                <th>Дата редактирования</th>
                <th>Пользователем</th>
                <th th:unless="${mode==true}">Действия</th>
                <th colspan="3" th:if="${mode==true}">Действия</th>
            </tr>
            <tr th:each="guide:${currentMenu.guides}">
                <td style="text-align: initial;"><a th:href="@{/guide(id=${guide.id})}" th:text="${guide.title}"></a></td>
                <td th:text="${guide.shortDescription}"></td>
                <td th:text="${guide.date}"></td>
                <td th:text="${guide.username}"></td>
                <td th:text="${guide.lastEditDate}"></td>
                <td th:text="${guide.lastEditUsername}"></td>
                <th style="background-color: #805340"><a th:href="@{/guide(id=${guide.id})}" style="color: white">Подробнее</a></th>
                <th th:if="${mode==true}" style="background-color: #324960"><a th:href="@{/guide/edit(id=${guide.id})}" style="color: white">Изменить</a></th>
                <th th:if="${mode==true}" style="background-color: #902a2a"><a th:href="@{/guide/delete(id=${guide.id})}" style="color: white">Удалить</a></th>
            </tr>
            <tr>
                <th th:if="${mode==true}" colspan="9"><a href="#" th:href="@{/guide/new(mid=${currentMenu.id})}">Добавить
                    запись</a></th>
            </tr>
            </tbody>
        </table>


        <table class="iksweb" style="width:initial" th:if="${newGuideMenu}">
            <form action="#" method="post" th:object="${newGuideMenu}">
                <tr>
                    <th colspan="2" th:unless="${editGuideMenu}">Добавить пункт меню</th>
                    <th colspan="2" th:if="${editGuideMenu}">Переименовать пункт меню</th>
                </tr>
                <tr>
                    <td>Название меню:</td>
                    <input th:field="*{id}" type="hidden">
                    <input th:field="*{guides}" type="hidden">
                    <td><input maxlength="12" class="edit" required th:field="*{name}" type="text"></td>
                </tr>
                <tr th:if="${error}">
                    <th th:text="${error}"></th>
                </tr>
                <tr>
                    <td colspan="2" th:unless="${editGuideMenu}"><input class="confirm" type="submit"
                                                                        th:formaction="@{/guideMenu/save}"
                                                                        value="Сохранить"></td>
                    <td th:if="${editGuideMenu}"><input class="confirm" type="submit"
                                                        th:formaction="@{/guideMenu/rename}" value="Переименовать"></td>
                    <td th:if="${editGuideMenu}"><input class="confirm" type="submit" formmethod="get"
                                                        th:formaction="@{/guideMenu/delete(id=${newGuideMenu.id})}"
                                                        value="Удалить пункт"></td>
                </tr>
            </form>
        </table>
    </center>

    <center>
        <table th:if="${currentGuide}" class="iksweb" style="width:initial">
            <th colspan="6" th:text="${currentGuide.title}" style="font-weight: bold"></th>
            <input th:field="${currentGuide.id}" type="hidden">
            <tr>
                <th style="background-color: black; color: white">Дата:</th>
                <td th:text="${currentGuide.date}"></td>
                <th style="background-color: black; color: white">Категория:</th>
                <td th:text="${currentGuide.menu.getName()}"></td>
                <th style="background-color: black; color: white">Автор:</th>
                <td th:text="${currentGuide.username}"></td>
            </tr>
            <tr>
                <th colspan="6" class="btmn" style="font-weight: bold">Описание:</th>
            </tr>
            <tr>
                <td colspan="6" th:utext="${currentGuide.text}" style="text-align: initial; background-color:initial; white-space:initial;color:black;line-height: inherit"></td>
            </tr>
            <tr>
                <th style="background-color: black; color: white">Дата редактирования:</th>
                <td colspan="2" th:text="${currentGuide.lastEditDate}"></td>
                <th style="background-color: black; color: white">Отредактировано:</th>
                <td colspan="2" th:text="${currentGuide.lastEditUsername}"></td>
            </tr>
            <th colspan="6" th:if="${mode==true}" style="background-color: red">
                <a class="link" th:href="@{/guide/delete(id=${currentGuide.id})}" style="color: white">Удалить
                    инструкцию</a>
            </th>
        </table>
    </center>
</div>
</body>
</html>