<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="main::head"></head>
<head>
    <meta charset="UTF-8">
    <title>Инструкции</title>
</head>
<body>
<div id="header" th:insert="main::menu"></div>
<table style="margin-top:20px;width:100%">
    <tr class="none">
        <td style="vertical-align: -webkit-baseline-middle;">
            <div class="widget">
                <h3 class="widget-title">Список инструкций:</h3>
                <ul class="widget-list">
                    <li th:each="guide:${guides}">
                        <a th:href="@{/guide(id=${guide.id})}" th:text="${guide.getTitle()}"></a>
                    </li>
                    <li th:if="${mode==true}">
                        <a th:href="@{/guideadd}">Добавить инструкцию</a>
                    </li>
                </ul>
            </div>
        </td>
        <td th:if="${currentGuide}">
            <h1 th:text="${currentGuide.title}"></h1>
            <input th:field="${currentGuide.id}" type="hidden">
            <span>Created by <span th:text="${currentGuide.username}"></span> at <span
                    th:text="${currentGuide.date}"></span></span>
            <div th:utext="${currentGuide.text}"></div>
        </td>
        <td style="vertical-align:top; margin-top:50px; width:100px" th:if="${mode==true}"><a class="link"
                                                                                              th:href="@{/delguide(id=${currentGuide.id})}">Удалить
            инструкцию</a>
        </td>
</table>
</div>
</body>
</html>