<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="#" th:href="@{/css/style.css}" rel="stylesheet" />
    <meta charset="UTF-8">
    <title>InfoSite</title>
</head>
<body>
<nav>
    <ul class="topmenu">
            <li  th:each="menu : ${menus}" class="down">
                <a href="" th:text="${menu.name}"></a>
                <ul  class="submenu">
                <li th:each="sub: ${menu.subMenuSet}">
                    <a href="" th:text="${sub.name}" th:href="@{/show(id=${sub.idSubMenu})}"></a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
<table align="center" border="1" bordercolor="black" th:each="table,tabRow: ${tables}" th:if="${tables}">
    <caption><a href="#" th:href="@{/editTab(tab=${table.id})}" th:text="${table.name}"></a></caption>
    <tr>
        <td th:each="col: ${table.cols}" th:text="${col.name}">
        </td>
    </tr>
    <tr th:each="lineList, row: ${table.lines}">
        <td th:each="line:${lineList}">
            <a href="#" th:href="@{/edit(tab=${table.id},line=${row.index})}"
               th:text="${line.data}"></a></td>
    </tr>
    <center>
        <a align="center" href="#" th:href="@{/add(tab=${table.id})}">Добавить строку</a>
    </center>
</table>

</body>
</html>