<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="main::head"></head>
<body>
<header id="header" th:insert="main::menu"></header>

<div>
    <a href="" th:href="@{/items}">Предметы</a>
    <a href="" th:href="@{/places}">Места</a>
</div>
<!--For /inventory-->

<div th:if="${invents}">
    <h3>Оборудование</h3>
    <table align="center">
        <caption></caption>
        <tr th:each="invent:${invents}">
            <td><a href="" th:href="@{/item(id=${invent.item.id}}" th:text="${invent.item.name}"></a></td>
            <td th:text="${invent.count}"></td>
            <td th:text="${invent.item.name}"></td>
            <td th:text="${invent.count}"></td>
            <td th:text="${invent.date}"></td>
            <td th:text="${invent.user}"></td>
            <td th:text="${invent.place.name}"></td>
            <td href="" th:href="@{/delinvent}">Удалить</td>
        </tr>
    </table>
    <a href="" th:href="@{/addinvent}">Добавить запись</a>
</div>

<!--For /items-->
<div th:if="${items}">

</div>
<!--For /places-->
<div th:if="${places}">

</div>
</body>
</html>