<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />

    <title>
        Авторизация
    </title>
</head>
<body>
<form action="#" class="transparent" method="post" th:action="@{/login}">
    <div class="form-inner">
        <center><h3>Авторизация</h3></center>
        <div th:if="${error}">Неверно введен логин или пароль</div>
        <p style="color:white">Логин: <input name="username" required type="text"/></p>
        <p style="color:white">Пароль: <input name="password" required type="password"/></p>
        <form action="#" class="transparent" method="post" th:action="@{/login}">
            <div class="form-inner">
                <input class="input" type="submit" value="Войти"/>
            </div>
        </form>
        <p><input type="reset" value="Сбросить"/></p>
    </div>
</form>

<form action="#" class="transparent" method="get" th:action="@{/registration}">
    <div class="form-inner">
        <input class="reginput" type="submit" value="Зарегистироваться"/>
    </div>
</form>
</body>
</html>