<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="main::head">
</head>
<body>
<center>
    <form action="login" class="transparent" method="post">

        <div border="1" class="auth">
            <div>
                <h2>Авторизация</h2>
                <input autocomplete="username" class="username" name="username" required type="text"/>
                <input autocomplete="password" class="password" name="password" required type="password"/>
                <div><input class="button_success" name="submit" style="height: 94px;" type="submit" value="Войти"/>
                </div>
                <div th:if="${param.error}">
                    <a colspan="2" height="30">Неверно введен логин или пароль</a>
                </div>
                <div colspan="3"><a href="" th:href="@{/user/reg}">Регистрация</a></div>
            </div>
        </div>
        </div>
    </form>
</center>
</body>
</html>