<!DOCTYPE html>
<
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="#" rel="stylesheet" th:href="@{/css/style.css}"/>
    <meta charset="UTF-8">
    <title>InfoSite</title>
</head>
<body>
<nav th:if="${menus}">
    <ul class="topmenu">
        <li class="down" th:each="menu : ${menus}">
            <a href="#" th:href="@{/editMenu(id=${menu.idMenu})}" th:if="${mode==true}" th:text="${menu.name}"></a>
            <a th:if="${mode==false}" th:text="${menu.name}"></a>
            <ul class="submenu">
                <li th:each="sub: ${menu.subMenuSet}">
                    <a href="" th:href="@{/show(id=${sub.idSubMenu})}" th:text="${sub.name}"></a>
                </li>
            </ul>
        </li>
    </ul>
    <div align="right">
        <a href="#" th:href="@{/export}">Скачать в формате Excel</a>
    </div>
    <div>
        <a href="#" th:href="@{/mode(mode=${!mode})}" th:if="${mode==false}">Перейти в режим редактирования</a>
        <a href="#" th:href="@{/mode(mode=${!mode})}" th:if="${mode==true}">Перейти в режим просмотра</a>
    </div>
    <div>
        <a href="#" th:href="@{/addMenu}" th:if="${mode==true}">Добавить пункт меню</a>
    </div>
</nav>
<div th:each="table,tabRow: ${tables}" th:if="${tables}">
    <table align="center" border="1" bordercolor="black">
        <caption>
            <a href="#" th:href="@{/editTab(tab=${table.id})}" th:if="${mode==true}" th:text="${table.name}"></a>
            <a th:if="${mode==false}" th:text="${table.name}"></a>
        </caption>
        <tr>
            <td th:each="col: ${table.cols}" th:text="${col.name}">
            </td>
        </tr>
        <tr th:each="lineList, row: ${table.lines}">
            <td th:each="line:${lineList}">
                <a href="#" th:href="@{/edit(tab=${table.id},line=${row.index})}" th:if="${mode==true}"
                   th:text="${line.data}"></a>
                <a th:if="${mode==false}" th:text="${line.data}"></a>
            </td>
            <td th:if="${mode==true}"><a href="#" th:href="@{/delLine(tab=${table.id},line=${row.index})}">Удалить
                строку</a></td>
        </tr>

    </table>
    <center>
        <a align="center" href="#" th:href="@{/addLine(tab=${table.id})}" th:if="${mode==true}">Добавить строку</a>
    </center>
</div>
<div align="center" th:if="${submenu}">
    <a href="#" th:href="@{/addTab(id=${submenu})}" th:if="${mode==true}">Добавить таблицу</a>
</div>
</body>
</html>