<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <link href="#" rel="stylesheet" th:href="@{/css/linearicons.css}"/>
    <link href="#" rel="stylesheet" th:href="@{/css/font-awesome.min.css}"/>
    <link href="#" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="#" rel="stylesheet" th:href="@{/css/magnific-popup.css}"/>
    <link href="#" rel="stylesheet" th:href="@{/css/jquery-ui.css}"/>
    <link href="#" rel="stylesheet" th:href="@{/css/nice-select.css}"/>
    <link href="#" rel="stylesheet" th:href="@{/css/animate.min.css}"/>
    <link href="#" rel="stylesheet" th:href="@{/css/owl.carousel.css}"/>
    <link href="#" rel="stylesheet" th:href="@{/css/main.css}"/>
    <meta charset="UTF-8">
    <title>InfoSite</title>
</head>
<body>
<header id="header" th:fragment="menu">
    <div class="container main-menu" th:fragment="menu">
        <div class="row align-items-center justify-content-between d-flex">
            <div id="logo">
                <a href="#" th:href="@{/}"><img alt="" src="https://auto1.by/img/svg/logo.svg" height="35px" title=""/></a>
                <a href="" th:href="@{/xml}">ДЛЯ ТЕСТА XML, ПОТОМ УДАЛИТЬ</a>
            </div>
            <nav id="nav-menu-container" th:if="${menus}">
                <ul class="nav-menu">
                    <li class="menu-has-children" th:each="xml : ${xmls}">
                        <a th:text="${xml.name}"></a>
                        <ul th:if="${not #lists.isEmpty(xml.subs)}">
                            <li th:each="sub,itemStat: ${xml.subs}">
                                <a href="" th:href="@{'/'+${xml.name}(id=${itemStat.index})}" th:text="${sub}"></a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-has-children" th:each="menu : ${menus}">
                        <a href="#" th:href="@{/editMenu(id=${menu.idMenu})}" th:if="${mode==true}"
                           th:text="${menu.name}"></a>
                        <a th:if="${mode==false}" th:text="${menu.name}"></a>
                        <ul th:if="${not #lists.isEmpty(menu.subMenuSet)}">
                            <li th:each="sub: ${menu.subMenuSet}">
                                <a href="" th:href="@{/show(id=${sub.idSubMenu})}" th:text="${sub.name}"></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" th:href="@{/addMenu}" th:if="${mode==true}"><img alt="Добавить пункт меню" src="#"
                                                                                     th:src="@{/images/addnew.png}"
                                                                                     title=""/></a>
                    </li>
                    <li>
                        <a href="#" th:href="@{/mode(mode=${!mode})}" th:if="${mode==false}"><img
                                alt="Перейти в режим редактирования" src="#" th:src="@{/images/gear.png}" title=""/></a>
                    </li>
                    <li>
                        <a href="#" th:href="@{/mode(mode=${!mode})}" th:if="${mode==true}"><img
                                alt="Перейти в режим просмотра" src="#" th:src="@{/images/show.png}" title=""/></a>
                    </li>
                    <li>
                        <a href="#" th:href="@{/export}"><img alt="" src="#" th:src="@{/images/excel.png}"
                                                              title=""/></a>
                    </li>

                </ul>
            </nav>
        </div>
    </div>
</header>

<section class="popular-destination-area section-gap">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    //Пусто, но это под меню
                </div>
            </div>
        </div>
    </div>
</section>

<div th:each="table,tabRow: ${tables}" th:if="${tables}">
    <table align="center" border="1" bordercolor="black">
        <caption>
            <a href="#" th:href="@{/editTab(tab=${table.id})}" th:if="${mode==true}" th:text="${table.name}"></a>
            <a th:if="${mode==false}" th:text="${table.name}"></a>
        </caption>
        <tr>
            <td th:each="col: ${table.cols}" th:text="${col.name}"></td>
        </tr>
        <tr th:each="lineList, row: ${table.lines}">
            <td th:each="line:${lineList}">
                <!--Отображение, если нет # вначале - обычное поле -->
                <a href="#" th:href="@{/edit(tab=${table.id},line=${row.index})}" th:if="${mode==true}"
                   th:text="${line.data}" th:unless="${#strings.substring(line.data,0,1).equals('#')}"></a>
                <a th:if="${mode==false}" th:text="${line.data}"
                   th:unless="${#strings.substring(line.data,0,1).equals('#')}"></a>
                <!--Отображение, если # вначале - скрытое поле -->
                <input disabled th:id="${col.name+row.index}" th:if="${#strings.substring(line.data,0,1).equals('#')}"
                       th:value="${#strings.substring(line.data,1,#strings.length(line.data))}" type="password">
                <input onclick="#" th:if="${#strings.substring(line.data,0,1).equals('#')}" type="button">
            </td>

            <td th:if="${mode==true}">
                <a href="#" th:href="@{/delLine(tab=${table.id},line=${row.index})}">Удалить
                    строку</a>
            </td>
        </tr>

    </table>
    <center>
        <a align="center" href="#" th:href="@{/addLine(tab=${table.id})}" th:if="${mode==true}">Добавить строку</a>
    </center>
</div>
<div align="center" th:if="${submenu}">
    <a href="#" th:href="@{/addTab(id=${submenu})}" th:if="${mode==true}">Добавить таблицу</a>
</div>
</body>

</html>