<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="main::head">
</head>
<body>
<div th:replace="main::menu"></div>
<div style="text-align: -webkit-center; margin-top:15px" th:if="${users}" th:object="${users}">
    <h2>Управление пользователями</h2>
    <div class="tables" th:each="user:${users}">
        <table align="center" border="2" class="info management" style="width:auto">
            <tbody>
            <tr>
                <td class="cell" colspan="3"><span>Профиль</span></td>
            </tr>
            <tr>
                <td class="cell"><span>Пользователь:</span></td>
                <td class="cell"><span th:text="${user.username}"></span></td>
                <td class="cell" rowspan="3"><a class="link" href=""
                                                th:href="@{/user/delete(id=${user.id})}">Удалить</a>
                </td>
            </tr>
            <tr>
                <td class="cell"><span>Ф.И.О.:</span></td>
                <td class="cell"><span th:text="${user.fio}"></span></td>
            </tr>
            <tr>
                <td class="cell"><span>Активация:</span></td>
                <td class="cell"><span th:text="${user.active}?'Активен':'Неактивен'"></span></td>
            </tr>
            <tr>
                <td class="cell" colspan="3"><a class="link" href="" th:href="@{/user/edit(id=${user.id})}">Изменить</a>
                </td>
            </tr>
            </tbody>
        </table>
    <br>
    </div>
    <a class="link" href="#" th:href="@{/registration}">Добавить нового пользователя</a>
</div>

</body>
</html>