<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="main::head">
</head>
<body>
<div th:replace="main::menu"></div>
<div style="text-align: -webkit-center; margin-top:5%" th:if="${users}" th:object="${users}">
    <h2>Управление пользователями</h2>
    <div class="tables" th:each="user:${users}">
        <table align="center" border="2" class="info management" style="width:auto">
            <tbody>
            <tr>
                <td class="cell"><span>Пользователь:</span></td>
                <td class="cell"><span th:text="${user.username}"></span></td>
                <td class="cell" rowspan="6"><a class="link" href=""
                                                th:href="@{/user/delete(id=${user.id})}">Удалить</a>

            </tr>
            <tr>
                <td class="cell"><span>Информация:</span></td>
                <td class="cell"><span th:text="${user.info}"></span></td>
            </tr>
            <tr>
                <td class="cell"><span>Адрес:</span></td>
                <td class="cell"><span th:text="${user.region}"></span></td>
            </tr>
            <tr>
                <td class="cell"><span>Телефон:</span></td>
                <td class="cell"><span th:text="${user.tel}"></span></td>
            </tr>
            <tr>
                <td class="cell"><span>Роль:</span></td>
                <td class="cell"><span th:text="${user.role} ? ${user.role.role}:'Не выбрана роль'"></span></td>
            </tr>
            <tr>
                <td class="cell"><span>Активация:</span></td>
                <td class="cell"><span th:text="${user.active}?'Активен':'Неактивен'"></span></td>
            </tr>
            <tr>
                <td class="cell"><span>Код</span></td>
                <td class="cell"><span th:text="${user.userKey}"></span></td>
                <td class="cell"><a class="link" th:href="@{/user/generate(id=${user.id})}">Сгенерировать</a></td>
                </td>
            </tr>
            <tr>
                <td class="cell" colspan="3"><a class="link" href="" th:href="@{/user/edit(id=${user.id})}">Изменить</a>
                </td>

            </tr>
            </tbody>
        </table>
    <br>
    </div>
    <a class="link" href="#" th:href="@{/registration}">Добавить нового пользователя</a>
</div>
<div align="left">
    <h1>Список ролей:</h1>
    <table>
        <tr th:each="role,count:${roles}" >
            <td><span th:text="${count.index}"></span></td>
            <td><span th:text="${role}"></span></td>
        </tr>
    </table>
    <!--При нажатии на ссылку делает поле видимым, Возможно так? -->
    <a> Добавить новую роль</a>
    <form th:action="@{/role/new}" method="post">
    <input type="text" name="role">
        <input type="submit">
    </form>



</div>
</body>
</html>