<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="main::head">
</head>
<body>
<form action="#" class="center" method="post" th:action="@{/registration}" th:object="${user}" th:unless="${edit}">
    <div class="auth">
        <h3 style="padding-top:10%;" th:text="${edit}?'Изменение учетной записи':'Регистрация'"></h3>
        <span th:if="${error}" th:text="${error}"></span>
        <span class="text">Логин:</span>
        <input class="username" required th:field="*{username}" type="text"/>
        <br><span class="text">Пароль</span>
        <input class="password" required th:field="*{password}" type="password"/>
        <br><span class="text">Информация</span>
        <input class="text" required th:field="*{info}" type="text"/>
        <br><span class="text">Адрес</span>
        <input class="text" required th:field="*{region}" type="text"/>
        <br><span class="text">Телефон</span>
        <input class="text" required th:field="*{tel}" type="text"/>
        <input class="button_success" th:value="${edit}?'Сохранить':'Зарегистрировать'" type="submit"/>
        <a class="register" th:href="@{/}">Вернуться назад</a>
    </div>
</form>

<form action="#" class="center" method="post" th:action="@{/user/edit}" th:if="${edit}" th:object="${user}">
    <div align="center" class="auth">
        <h3 style="padding-top:10%;">Изменение записи</h3>
        <input th:field="*{id}" type="hidden">
        <span class="text">Логин:</span>
        <input class="username" required th:field="*{username}" type="text"/>
        <br><span class="text">Пароль</span>
        <input class="password" th:field="*{password}" type="password"/>
        <br><span class="text">Информация:</span>
        <input class="text" required th:field="*{info}" type="text"/>
        <br><span class="text">Адрес</span>
        <input class="text" required th:field="*{region}" type="text"/>
        <br><span class="text">Телефон</span>
        <input class="text" required th:field="*{tel}" type="text"/>
        <br><span class="text">Роль</span>
        <input type="hidden" th:field="*{role}">
        <select name="role">
                <option value="">Выберите роль</option>
                <option th:each="role: ${roles}"
                        th:value="${role}"
                        th:text="${role}"></option>
        </select>
        <br><span>Активен:</span>
        <input class="username" th:field="*{active}" type="checkbox">
        <input class="button_success" th:value="Сохранить" type="submit"/>
    </div>
</form>
</body>
</html>