<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="main::head">
</head>
<body>
<form action="#" class="center" method="post" th:action="@{/user/reg}" th:object="${user}" th:unless="${edit}">
    <div class="auth">
        <h3 style="padding-top:10%;" th:text="${edit}?'Изменение учетной записи':'Регистрация'"></h3>
        <span th:if="${error}" th:text="${error}"></span>
        <span class="text">Логин:</span>
        <input class="username" required th:field="*{username}" type="text"/>
        <br><span class="text">Пароль</span>
        <input class="password" required th:field="*{password}" type="password"/>
        <br><span class="text">ФИО</span>
        <input class="password" required th:field="*{fio}" type="text"/>
        <input class="button_success" th:value="${edit}?'Сохранить':'Зарегистрировать'" type="submit"/>
        <a class="register" th:href="@{/}">Вернуться назад</a>
        <div th:if="${edit}">
            <span class="text">Активен</span>
            <input th:field="*{active}" type="checkbox">
        </div>
    </div>
</form>

<form action="#" class="center" method="post" th:action="@{/edituser}" th:if="${edit}" th:object="${user}">
    <div align="center" class="auth">
        <h3 style="padding-top:10%;">Изменение записи</h3>
        <input th:field="*{id}" type="hidden">
        <span class="text">Логин:</span>
        <input class="username" required th:field="*{username}" type="text"/>
        <br><span class="text">Пароль</span>
        <input class="password" th:field="*{password}" type="password"/>
        <br><span class="text">Ip-адрес:</span>
        <input class="password" th:field="*{ip}" type="text"/>
        <br><span class="text">ФИО:</span>
        <input class="password" th:field="*{fio}" type="text"/>
        <br><span>Активен:</span>
        <input class="username" th:field="*{active}" type="checkbox">
        <input class="button_success" th:value="Сохранить" type="submit"/>
    </div>
</form>
</body>
</html>