<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="main::head">
</head>
<body>
<a th:text="${test}"></a>
<div>
    <form th:action="@{/report}" method="post">
    <span>Выберите статус: </span>
    <select id="status" name="status">
        <option value="">Выберите статус</option>
        <option value="all">Все заявки</option>
        <option th:each="status: ${T(info.infosite.entities.request.Status).values()}"
                th:text="${status.reportValue}"
                th:value="${status.reportValue}"></option>
    </select><br>

    <select id="user" name="user">
        <option value="">Выберите пользователя</option>
        <option th:each="user: ${users}"
                th:text="${user.username}"
                th:value="${user.username}"></option>
    </select><br>

    <span>Начальная дата</span><input type="date" id="startDate" name="startDate"><br>

    <span>Конечная дата</span><input type="date" id="endDate" name="endDate"><br>
        <input type="submit" value="Сгенерировать отчёт">
    </form>
</div>
</body>
</html>