<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="main::head">
</head>
<body>
<div th:replace="main::menu"></div>
<div>
    <br>
    <br>
    <div th:unless="${#httpServletRequest.getQueryString() == 'show=all'}">
        <a th:href="@{/order?show=all}">Все заявки</a>
    </div>
    <div th:unless="${#httpServletRequest.getQueryString() == 'show=active'}">
        <a th:href="@{/order?show=active}">Заявки со статусом "Активна"</a>
    </div>
    <div th:unless="${#httpServletRequest.getQueryString() == 'show=inwork'}">
        <a th:href="@{/order?show=inwork}">Заявки со статусом "В работе"</a>
    </div>
    <table>
        <tr>
            <th>Номер заявки</th>
            <th>Регион</th>
            <th>О пользователе</th>
            <th>Контактный телефон</th>
            <th>Описание проблемы</th>
            <th>Дата</th>
            <th>Статус заявки</th>
        </tr>
        <tr th:each="order,rowStat : ${orders}">
            <td th:field="${order.id}"><a th:href="@{/order(show=${order.id})}" th:text="${order.id}"></a></td>
            <td th:field="${order.user.getRegion()}" th:text="${order.user.getRegion()}"></td>
            <td th:field="${order.user.getInfo()}" th:text="${order.user.getInfo()}"></td>
            <td th:field="${order.user.getTel()}" th:text="${order.user.getTel()}"></td>
            <td th:field="${order.requestMessage}" th:text="${order.requestMessage}"></td>
            <td th:field="${order.date}" th:text="${order.date}"></td>
            <td th:field="${order.status}" th:text="${order.status.displayValue}">
            </td>
        </tr>
    </table>
</div>
</body>
</html>